    <footer> 
      <div class="container"> 
        </div>
           <div class="footer-copyright">
            <a class="footer-link-text" href="#!">About</a>
            <a class="footer-link-text" href="#!">Contact</a>
            <a class="footer-link-text" href="#!">Sitemap</a>
            <a class="footer-link-text" href="#!">Privacy Policy</a>
          </div>
        </div>
          <div class="footer-copyright">
            <div class="container">
            © 2019 GASEI Autumn Sweaters
            <a class="grey-text text-lighten-4 right" href="#!"></a>
            </div>
          </div>
      </footer>
  </body>
</html>