<div>
        <header>
            <!-- Plug in logo icon when finished with the layout -->
            <!-- <img class="icon" src="#" alt="icon image" /> -->
            
            <nav role="navigation" aria-label="Main menu" draggable="false">
                <ul role="menubar" draggable="false">
                    <li role="menuitem" class="home" tabindex="0"><a href="/dog"><i class="material-icons">home</i></a></li>
    
                    <li role="menuitem" aria-haspopup="true" tabindex="0"><a href="#">New</a>
                        <ul class="submenu" role="menu" aria-hidden="true" draggable="false">
                            <li role="menuitem" tabindex="-1" draggable="false"><a href="#">Abnormal Dog</a></li>
                            <li role="menuitem" tabindex="-1" draggable="false"><a href="#">Dog Whisperer</a></li>
                            <li role="menuitem" tabindex="-1" draggable="false"><a href="#">Hot Dogs</a></li>
                        </ul>
                    </li>
                    
                    <li role="menuitem" tabindex="0"><a href="#">Contact</a></li>
                    <li role="menuitem" tabindex="0"><a href="#">About Us</a></li>
                    <li role="menuitem" class="user"><a href="/auth/login">Sign In/Register</a></li>
                </ul>
            </nav>
        </header>
    </div>