<div>
  <header>
      <nav role="navigation" aria-label="Main menu" draggable="false">
          <ul role="menubar" draggable="false">
              <li role="menuitem" class="brand-logo center font" tabindex="0"><a href="/dog">Furever Friend</a></li>
              <li role="menuitem" class="user"><a href="/auth/login">Sign In/Register</a></li>
          </ul>
      </nav>
  </header>
</div>