<div>
        <header>
            <h1>Furpets</h1>
            <img class="icon" src="#" alt="icon image" />
            
            <nav role="navigation" aria-label="Main menu">
                <ul role="menubar">
                    <li role="menuitem" tabindex="0"><a href="/dog">Home</a></li>
    
                    <li role="menuitem" aria-haspopup="true" tabindex="0"><a href="#">New</a>
                        <ul class="submenu" role="menu" aria-hidden="true">
                            <li role="menuitem" tabindex="-1"><a href="#">Abnormal Dog</a></li>
                            <li role="menuitem" tabindex="-1"><a href="#">Dog Whisperer</a></li>
                            <li role="menuitem" tabindex="-1"><a href="#">Hot Dogs</a></li>
                        </ul>
                    </li>
                    
                    <li role="menuitem" tabindex="0"><a href="#">USER</a></li>
                    <li role="menuitem" tabindex="0"><a href="#">IS</a></li>
                    <li role="menuitem" class="user"><a href="/auth/login">LOGGED</a></li>
                    <li role="menuitem" class="user"><a href="/auth/logout">IN</a></li>
                    <li role="menuitem" class="user"><a href="/auth/new">!!!</a></li>
                </ul>
            </nav>
        </header>
    </div>
    