<%-include('partials/header.ejs')%>
  <header>
    <h1>Furrever Friends!</h1>
      <nav>
      </nav>
  </header>
    <main>
      <button><a href="/new">Sign Up!</a></button>
      <button><a href="/login">Login</a></button>
    </main>
<%-include('partials/footer.ejs')%>