body {
    font-family: Arial;
    margin: 0;
    height: 100%;
    background: rgb(227 227 227);
}

html {
    min-height: 100%;
    position: relative;
    font-family: "Roboto Slab", Helvetica, serif;
}

* {
    text-decoration: none;
}

/******  banner's *******/

/* WEB */
.index-banner {
    width: 100%;
    height: calc(55vh - 100px);;
    display: table;
    background: url("https://i.imgur.com/VCeMQtH.jpg");
    background-repeat: no-repeat;
    background-position: right;
    background-size: cover;
    background-position-y: -500px;
    background-position-x: 0;
    z-index: 500;
  }

/**** Start of nav bar ****/
nav {
    height: 41px;
    background-color: #493843 !important;
    line-height: 40px !important;
}

nav:hover {
    opacity: 1;
}

nav ul{
    margin: 0;
}

nav ul li.brand-logo {
    width: 50%;
    font-size: 32px;
}

nav ul li.brand-logo a {
    font-size: 50px;
}

nav i.material-icons {
    height: 40px !important;
}

nav, ul.submenu {
    background: #513E4B;
    padding: 0;
    
}


nav ul li {
    display: block;
    width: 150px;
    text-align: center;
    float: left;
    margin: 0;
    padding: 0;
    cursor: pointer !important;
}

nav a {
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 10px; 
}

nav a:hover {
    color: #fff;
    text-shadow: 3px 4px 2px black;
    opacity: 1;
}

nav ul.submenu {
    position: absolute;
    overflow: hidden;
    height: 0;
    border-radius: 0 0 5px 5px;
    overflow: hidden;
    height: 0;
    z-index: 99998;
}

nav ul.submenu li {
    float: none;
    text-align: left;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

/***** for the drop-down part ******/
 nav ul li {
    transition: .3s all linear;
    z-index: 1000;
}

nav ul li:hover ul.submenu {
    height: 126px;
    z-index: 1000;
} 

header  p, h1, h2 {
    text-align: center;
}
/**** navBar  ****/

section {
    z-index: 30;
}

/**** styling for user forms ****/
.account-body {
    background: rgb(227, 227, 227);
}

.account-container {
    display: flex;
    justify-content: center;
    align-items: center;
    border: .5px solid grey;
    border-radius: 10px;
    background: white;
    width: 75%;
    margin: 0 auto;
}

.account-user {
    border: .5px solid grey;
    border-radius: 5px;
    padding-left: 5px;
    padding-right: 50px;
    padding-top: 5px;
    padding-bottom: 5px;
    display: inline-block;
    width: 100%;
    min-height: 100%;
}

.account-button {
    margin-bottom: 5%
}

#login-account {
    display: flex;
    justify-content: center;
}

.edit-image {
    max-height: 100px;
    max-width: 100px;
}

.vl {
    border-left: 1px solid #e0e0e0;
    height: 510px;
    position: absolute;
    left: 50%;
    margin-left: -3px;
  }

.user {
    float: right;
} 

.user-logged {
    float: right;
}

 .logo {
    display: inline-block;
}

.message {
    text-align: center;
}

/* login media query*/
@media screen and (max-width: 1024px) {
    .account-container .row .col {
      float: none !important;
      width: 80%;
      margin: auto;
    }

    .vl {
        border-left: 1px solid #e0e0e0;
        height: 510px;
        position: absolute;
        left: 0;
        margin-left: -3px;
        visibility: hidden;
      }
}

/*** nav media query ****/
@media screen and (max-width:660px) {
    nav ul li {
        display: block;
        width: 120px;
        text-align: center;
        float: left;
        margin: 0;
        padding: 0;
            
    }
}

@media screen and (max-width:535px) {

    nav {
        box-shadow: none !important;
        line-height: 43px !important;
    }

    nav ul{
        display: flex;
        flex-flow: column;
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        color: #fff;
        padding: 0;
        font-size: 1.25rem;
        font-weight: 400;
        letter-spacing: -.25px;
        letter-spacing: -.01562rem;
        position: fixed;
        top: 0;
        left: 0;
        right: 95%;
        height: 100%;
        overflow-y: auto;
        background: #493843 !important;
        opacity: .1;
        z-index: 100000;
      }

      nav ul:hover {
          opacity: 0.9;
      }
      nav, ul.submenu {
        background: white !important;
        color: black;
        opacity: 1;
        border-radius: 5px;
        right: 0;
        left: 356px;
    }

    ul.submenu, ul.submenu a {
        opacity: 1;
        color: black;
        padding: 0 !important;
    }

    nav ul a {
        font-size: 1rem;
        color: #fff;
        display: block;
        padding: 0 !important;
        cursor: pointer;
        text-align: center;
    }

    .user > a:nth-child(1) {
        position: relative;
        top: 40px;
    }

    nav ul li:hover ul.submenu {
        height: 170px;
        z-index: 1000;
    } 

    .material-icons {
        position: absolute;
        top: 86px;
    }

    td, th {
        padding: 10px 5px;
        display: table-cell;
        text-align: center !important;
        border-radius: 2px;
    }
    
    nav ul li {
        display: flex;
        justify-content: center;
    }

    nav ul a, ul.submenu > a {
        padding: 0 !important;
    }
    
    nav ul.submenu {
        position: fixed;
        overflow: hidden;
        height: 0;
        padding: 0 !important;
        border-radius: 0 0 5px 5px;
        z-index: 99998;
    }

    nav ul:hover {
     right: 0%;
    }

    nav ul  {
      transition: 1s all linear;
      z-index: 1000;
    }

    section {
        text-align: center;
        position: relative;
        margin-left: 10px;
    }
}

@media screen and (max-width: 400px) {
    nav, ul.submenu {
        border-radius: 5px;
        padding: 0;
        right: 0;
        left: 226px;
    }

    nav ul a, ul.submenu a {
        padding: 0 !important;
    }

    nav ul li:hover ul.submenu {
        height: 170px;
        z-index: 1000;
    } 
  .user > a:nth-child(1) {
        position: relative;
        top: 40px;
    }

}

/**** end of nav media query ****/

/*** image file ***/
.box ul {
    list-style: none;
}

.box ul li {
    font-size: 1.25rem;
}

.flexStyle  ul {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-flow: row wrap;
  list-style: none;
  height: 100%;
}

.flexStyle ul li {
    padding: 30px;
}

.child {
  position: relative;   
  height: 20%;
  padding: 0;
  font-size: 1.25rem;
  top: -55px;
  left: 5px;
}

.child p {
  margin: 0;
  color: white;
  text-shadow: 3px 2px 3px black;
}

.box img {
  width: 245px;
  height: 245px;
  border: 3px solid black;
  box-shadow: 3px 4px 2px black;
  z-index: 1;
}

.box ul li:nth-child(2) {
    position: relative;
}

.box ul li:nth-child(3) {
    position: relative;
    

}
/* for the box in the dog/edit page */

[type="checkbox"]:not(:checked) {
    opacity: 1;
    pointer-events: auto ;
    position: relative;
}

[type='checkbox']:checked {
  opacity: 1 ;
  pointer-events: fill ;
  position: relative;
} 

select {
    display: inline-block !important;
}


/**** Article Section Index Page ****/

#getStarted h1 {
  font-size: 44px;
  font-weight: 400;
  border-bottom: 3px solid black;
  border-top: 3px solid black;
  width: 60%;
  margin: auto;
  padding: 15px;
}

/** FOR FUREVER FRIEND LOGO FONT **/
.brand-logo {
    font-family: 'Paytone One', sans-serif;
}

button {
    opacity: .9;
    background-color: #493843 !important
}

.brand-logo center font {
    font-family: 'Paytone One' !important
}

/** page-div for footer render **/

.body-div {
    height: 100% !important;
}

.page-div {
    min-height: 100% !important;
    position: relative !important
}

.body-div {
    padding: 10px !important;
    padding-bottom: 60px !important;
}

.footer-div {
    position: absolute !important;
    bottom: 0 !important;
    width: 100% !important;
    height: 45px !important

}

.body-div-edit {
    padding-bottom: 60px !important
}

.footer-div-edit {
    bottom: 0 !important;
    width: 100% !important;
    height: 23px !important
}

/*** footer ***/

.footer-copyright {
    bottom: 0;
    color: #ffffff;
    background-color: #493843;
    text-align: center;
}

.footer-link-text {
    color: #ffffff;
    font-size: 16px;
    margin: 50px;
}

/*** end footer ***/

.obContentContainer {
  padding: 0px 50px 0px 50px
}

.obContentImage a{
    border: none; 
    display: block;
}

.obContentImage img {
    display: block;
    width: 160px;
    height: 122px;
    border: 0;
}

table {
    width: 100%;
    display: inline-table !important;
    border-collapse: collapse;
    border-spacing: 0;
}

.tableFlex {
  display: flex;
  justify-content: center;
}

td >  h2 {
    margin: 0px 0px 10px 0px; 
    line-height: 30px; 
    font-weight: normal; 
    font-size: 17px !important; 
    color: #000000; 
    text-decoration: none;
}

.obContentBlock {
    width : 160px;
    text-align: left;
    border: 0;
    
}

.olvin_button {
    background-color: #493843;        
    color: #FFFFFF;        
    font-size: 16px!important;        
    line-height: 22px !important;        
    display: inline-block;        
    border-radius: 7px;        
    text-align: center; 
    text-decoration: none; 
    font-weight: bold; 
    display: block; 
    padding: 10px 0px;
}

.buttons-full-width {
    padding: 5px 0px 10px 0px;
}

.buttons-full-width a {
    background-color: #493843; 
    color: #FFFFFF; 
    font-size: 16px!important; 
    line-height: 22px!important; 
    display: inline-block;        
    border-radius: 7px;        
    text-align: center;        
    text-decoration: none;        
    font-weight: bold;        
    display: block;        
    padding: 10px 0px;
}

.image-caption-bottom-gap {
    width : 100%;
    height : 5px;
    text-align: left;
    border: 0;
}

.image-caption-top-gap {
  height: 15px;
  width: 100%;
}

.mobileHide {
    width: 30px; 
    height: 30px;
    text-align: left;
}

td {
    height : 30px;
}

/**** Dog Treats list *****/

.dogTreats {
  display: flex;
  align-content: center;
  justify-content: center;
}

.dogTreats main h2 {
  font-size: 40px;
  font-weight: 400;
  border-bottom: 3px solid black;
  border-top: 3px solid black;
  width: 90%;
  margin: 10px auto;
  padding: 15px;
}

.dogTreats ol li {
    text-align: center;
}

/*** show page image ****/
.showDiv {
  display: flex;
  align-items: stretch;
  flex-direction: row nowrap;
  justify-content: space-evenly;
  text-align: left;
  padding: 10px;
  height: 100%;
  width: 100%;
}

.showImage img {
  width: 280px;
  height: 280px;
  border: 3px solid black;
  border: 3px solid black;
  box-shadow: 7px 4px 13px black;
  border-radius: 50%;
}

#imgWrapper {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-flow: column;
    border: 3px solid black;
    border-radius: 5px 10px;
    width: 35%;
}

#imgWrapper img {
  margin: 5px auto;
  padding: 7px;
}



#square > ul:nth-child(1) > li {
  font-size: 1.75rem;
  color: black;

}

.secDiv {
    width: 25%;
    font-size: 1.5rem;
    color: black;
    border: 3px solid black;
    border-radius: 5px 10px;
}

.secDiv main h1 {
    font-size: 24px;
}

.lastDiv {
    width: 25%;
    border: 3px solid black;
    border-radius: 5px 10px;
}

.lastDiv >  p {
  font-size: 28px;
  font-size: 1.5rem;
  color: black;
}

.lastDiv > h3 {
  font-size: 32px;
  color: black;

}

.showDiv h1 {
  font-size: 34px;
}

#donate h2 {
    border-bottom: 2px solid black;
    width: 50% !important;
    margin: 5px  auto !important;
    text-align: center;
    font-weight: 400;
    font-size: 30px;
}

.donateToUs {
    display: flex;
    align-items: first baseline;    
    width: 100%;    
}

.location {
    position: relative;
    height: 20%;
    padding: 10px;
    font-size: 1.25rem;
    left: 5px;
    align-content: center;
    justify-content: center;
}

article.location > p > span, 
article.location > address > span {
    font-weight: 600;
    font-size: 1.25rem;
}

@media screen and (max-width: 840px) {
    .showDiv {
        display: flex;
        align-content: center;
        flex-flow: column wrap;
        justify-content: space-between;
        text-align: left;
        padding: 8px;
      }

      #imgWrapper {
          width: 80%;
      }

      .lastDiv {
          width: 80%;
      }

      .secDiv {
          width: 80%;
      }

      #imgWrapper img {
        margin: 0 auto;
        padding: 2px;
      }
      
      .showImage img {
        width: 220px;
        height: 220px;
        border: 3px solid black;
        border: 3px solid black;
        box-shadow: 7px 4px 13px black;
        border-radius: 50%;
      }

      .donateToUs {
        display: flex;
        flex-flow: column wrap; 
        align-content: center; 
        text-align: center;  
        width: 100%;    
    }

    #donate {
        margin-top: 10px;
    }

      
    
}

/* scroll bar flex display */
.flexrow {
    display: flex;
    padding: 0 15px 0 4px;
    height: 600px;
    margin: 0 auto;
    overflow-y: scroll;
    border: 3px solid black;
    border-radius: 3px 4px 1px 4px;
    width: 50%;
  }
  
  /* Create four equal columns that sits next to each other */
  .column {
    flex: 35%;
    max-width: 100%;
    padding: 0 2px;
  }
  
  .column img {
    position: relative;
    margin-top: 9px;
    vertical-align: middle;
    width: 100%;
  }
  
  
  /* Responsive layout - makes a two column-layout instead of four columns */
  @media screen and (max-width: 1290px) {
      .index-banner {
          background-position-y: -340px;
          height: calc(50vh - 100px);
      }
  }
  
  @media screen and (max-width: 900px) {
    .index-banner {
        height: calc(45vh - 100px);
        background-position-y: -300px;

    }
  }
  
  @media screen and (max-width: 800px) {
    .index-banner {
        height: calc(45vh - 100px);
        background-position-y: -254;

    }

    .column {
      -ms-flex: 20%;
      flex: 50%;
      max-width: 100%;
    }


    .flexrow {
        display: flex;
        padding: 0 15px 0 4px;
        height: 600px;
        margin: 0 auto;
        overflow-y: scroll;
        border: 3px solid black;
        border-radius: 3px 4px 1px 4px;
        width: 70%;
      }
  }

  @media screen and (max-width: 768px) {
      .index-banner {
        height: calc(38vh - 100px);
        background-position-y: -49px;
      }

      nav ul li.brand-logo a {
        font-size: 30px !important;
  }
}
    @media screen and (max-width: 500px) {
        .column {
          -ms-flex: 20%;
          flex: 50%;
          max-width: 80%;
        }

        .flexrow {
            display: flex;
            padding: 0 15px 0 4px;
            height: 600px;
            margin: 0 auto;
            overflow-y: scroll;
            border: 3px solid black;
            border-radius: 3px 4px 1px 4px;
            width: 80%;
          }
  }





