<%- include ../partials/header %>
<!-- <form>
    <label>Name:</label></br>
    <input type="text" name="name" /></br>
    <label>Sex:</label></br>
    <select id="dog-sex" name="sex">
            <option value="">--Please choose an option--</option>
            <option value="Male">Male</option>
            <option value="Female">Female</option> 
    </select></br>
    <label>Is it House Trained</label></br>
    <input type="checkbox" name="isHouseBroken">
    <label>Breed:</label></br>
    <input type="text" name="breed" />
    <label>Age:</label></br>
    <input type="number" name="age" max="15" min="0" />
    <label>Location:</label></br>
    <textarea type="text" name="location"></textarea>
    <label>Description:</label>
    <textarea type="text" maxlength="100" name="description"></textarea>
</form>

 -->
 <h1>hello</h1>

<%- include ../partials/footer %>
