<div class="page-div"><%- include ../partials/header %>
<div class="header-div">
  <%if(!isLogged) {%>
    <%- include ../partials/head %>
  <%} else {%>
    <%-include("../partials/navlogged")%>
  <%}%>
  </div>
  <div class="body-div">
<body class="account-body">  
  <div class="account-container">
    <main>
      <div class="section">
          <h5>Post a pet for adoption</h5>
            <form action="/dog" method="POST">
              <div class="row">
                <div class="col s6"><label>Type in your username:</label></div>
                <div class="col s6"><label>Name:</label></div>
                <div class="col s6"><input type="text" name="username" required/></div>
                <div class="col s6"><input type="text" name="name" required/></div>
              </div>
              <div class="row">
                <div class="col s12"><label>Gender:</label></div>
                <div class="col s6">
                  <select id="dog-sex" name="sex" style="display:block;">
                    <option value="Male"> Male </option>
                    <option value="Female">Female</option>
                  </select>
                </div>
                <div class="col s6">
                  <p>
                    <label for="house-broken">
                      <input id="house-broken" type="checkbox" class="filled-in" name="isHouseBroken"/>
                      <span>House Trained</span>
                    </label>
                  </p>
                </div>
              </div>
              <div class="row">
                <div class="col s6"><label>Breed:</label></div>
                <div class="col s6"><label>Age:</label></div>
                <div class="col s6"><input type="text" name="breed" /></div>
                <div class="col s6"><input type="number" name="age" min="0" /></div>
              </div>
              <div class="row">
                <div class="col s6"><label>Image:</label></div>
                <div class="col s6"><label>Location:</label></div>
                <div class="col s6"><input type="text" name="image" required /></div>
                <div class="col s6"><input type="text" name="location"/></div>
              </div>
              <div class="row">
                <div class="col s12"><label>Description:</label></div>
                <div class="col s12"><textarea type="text" maxlength="100" name="description"></textarea></div>
              </div>
              <div class="row">
                <div class="col s12"><button class="waves-effect waves-light btn" type="submit">Submit</button></div>
              </div>
        </form>
      </div>
    </main>
  </div>
</body>
</div>
 <div class="footer-div">
<%- include ../partials/footer %>
</div>
</div>
